*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Josefin Sans", sans-serif;
}
html{
    font-size: 62%;

}
:root{
    --color-font:#010F37;
    --color-second:#194670;
    --color-medium:#53AFEC;
    --color-celest:#ccf4fe;
    --color-letter:#F0F6FD;
}
body{
    background-color:var(--color-font);
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:var(--color-second);
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 60px;
    padding: 0 150px;
}
.header--icon{
    color: var(--color-letter);
    font-size: 3.5rem;
    text-decoration: none;
}
.header--nav-list {
    display: flex;
    flex-wrap: nowrap;       
}
.header--nav-list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin: 0 0 0 50px;

}
.header--nav-list__item a{
    text-transform:lowercase;
    text-decoration: none;
    font-size: 2em;
    color: var(--color-letter);
}
.header--nav-list__item a:hover{
    transition:.2s;
    font-size: 2.3em;
    color: var(--color-celest);
}

/* main home*/
.main-home__aside{
    display: flex;
    width:100%;
    padding: 130px 0 100px 0;
    background-image: url(../recursos/panet3.jpg);
}
.main-home__aside h1{
    margin: auto;
    color: var(--color-letter);
    font-size: 7rem;
}
/*tarjeta de presentacion*/
.main-home__target{
    display: flex;
    width: 80%;
    margin: 50px auto;
    border-radius: 30px;
}/*
.main-home__target img {
    width: 50%;
    border-radius: 30px 0 0 30px;
    opacity: .7;
}
.main-home__target:hover img{
    opacity:.9 ;
}
.main-home__target--text button{
    padding: 14px 20px 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 2em;
    background-color:#ffffff;
    border: 1px solid #000;
    text-transform: uppercase;
}
.main-home__target--text button:hover{
    background-color: #eee;

}
.main-home__target--text{
}*/

.main-home__target--text h3 {
    color:var(--color-celest);
    width: max-content;
    padding: 20px;
    font-size: 3em;
    border-bottom: 1px var(--color-celest) solid;
    margin: 0 0 15px;
}

.main-home__target--text p {
    text-align:start;
    font-size: 2em;
    color: var(--color-letter);
    font-weight: lighter;
    padding: 10px;
}
.main-home hr {
    width: 80%;
    margin: auto;
    height: .2px;
}
.trabajos {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:50px;
    grid-template-rows:auto 100px;
    grid-template-areas:    "aside aside aside aside"
                            "item1 item2 item3 item4"
                            "item5 item6 item7 item8" ;
    width: 80%;
    height: auto;
    margin: 50px auto;
}
.trabajos aside {
    margin: 10px 10px ;
    grid-area: aside;
}
.trabajos aside p{
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    color: var(--color-letter);
}
.trabajo--item-batatabit{
    grid-area: item1;
}
.trabajo--item-proyectoQR{
    grid-area: item2;
}
.trabajo--items{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 30px 0 ;
    text-align: center;
    background: linear-gradient(0deg, rgb(241, 174, 28) 11%, rgb(41, 34, 17) 100%);;
}
.trabajo--items a {
    text-decoration: none;
    color:#fff;
    font-size: 3em;

}
.trabajo--items:hover{
    transition: .2s;
    opacity: .8;
}
/* footer*/

.footer--list{
    margin: auto;
    width: 60%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}
.footer--list__item a {
    font-size: 1.5em;
    color: var(--color-letter);
    text-decoration: none;
}